.home-btn {
    background: red;
    border-color: white;
    color: white;
    border-radius: 4px;
}

.home-header {
    animation: fadeIn 2s;
    color: #42ccff;
    font-weight: 800;
    font-size: 3em;
    font-family: Inter;
}

.home-sub-header {
    animation: fadeIn 1.5s;
    animation-delay: 2s;
    animation-direction: linear;
    animation-fill-mode: backwards;
    color: silver;
    font-weight: 800;
    font-size: 2em;
    font-family: Inter;
}

.home-header, .home-sub-header {
    margin: 0;
}

.home-header-container {
    margin: 3em auto;
    text-align: start;
    width: 60em;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        transform: translateY(-15px);
     }
    100% { 
        opacity: 1 !important;
        transform: translateY( 0px);

     }
}